@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
}

html,
body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
}

html {
  background-image: url("/src/public/circle-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body {
  display: grid;
  /* background-color: hsla(0, 0%, 0%, 0.25); */
  grid-template-rows: auto 1fr auto;
  /* backdrop-filter: blur(6px); */
  /* -webkit-backdrop-filter: blur(6px); */
}

header {
  padding: 1rem;
  background-color: hsla(0, 0%, 0%, 0.25);
  display: flex;
  justify-content: space-between;
}

#content {
  grid-row: 2;
  min-height: 0;
  height: 100%;
}

header > img {
  width: 3rem;
}

nav {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

footer {
  background-color: hsla(0, 0%, 0%, 0.25);
  padding: 1rem;
  display: flex;
  justify-content: center;
  font-weight: 400;
  letter-spacing: 2px;
  color: white;
}

.hero-img {
  width: 28rem;
  margin: 2rem 0 2rem 0;
  filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
}

.hero-title {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.hero-title > p {
  color: white;
  margin-top: 2rem;
  font-size: 1.2rem;
}

.hero-title > button {
  white-space: nowrap;
  font-weight: 600;
  margin-top: 1rem;
}

.hero-title-top {
  color: oklch(68.1% 0.162 75.834);
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: 0px;
}

.hero-title-bot {
  margin-top: -4px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 2rem;
  font-weight: 400;
  color: oklch(62.7% 0.194 149.214);
}

#main-home {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.product-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-product-img {
  width: 38rem;
  filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
}

.default-btn {
  background-color: oklch(52.7% 0.154 150.069);
  border: none;
  padding: 0.5rem 2rem 0.5rem 2rem;
  color: white;
  font-size: large;
  letter-spacing: 2px;
  border-radius: 0.5rem;
  filter: drop-shadow(0 4px 4px rgb(0 0 0 / 0.15));
  font-weight: lighter;
  transition: all 0.1s ease-in;
  cursor: pointer;
}

.default-btn:hover {
  background-color: oklch(72.3% 0.219 149.579);
}

.nav-btn {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0.5rem 2rem 0.5rem 2rem;
  color: white;
  font-size: large;
  letter-spacing: 2px;
  border-radius: 0.5rem;
  width: 9rem;
  font-weight: normal;
  font-size: larger;
  position: relative;
  cursor: pointer;
}

.menu-category {
  padding: 4rem 16rem 4rem 16rem;
}

.menu-header {
  color: white;
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: x-large;
}

#menu {
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
}

.menu-item {
  background-color: oklch(70.382% 0.04025 257.029 / 0.318);
  border-radius: 4rem;
  padding: 1rem;
  width: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-item > img {
  height: 10rem;
  filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
}

.menu-item > h3 {
  color: white;
  text-align: center;
  font-weight: 200;
}

#contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.contact-card {
  background-color: oklch(70.382% 0.04025 257.029 / 0.318);
  max-width: 648px;
  width: 100%;
  min-width: 412px;
  height: 648px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2rem;
  position: relative;
  gap: 2rem;
}

.contact-card > h1 {
  position: absolute;
  top: 1rem;
}

.contact-card > h3 {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-weight: 400;
}

.active-nav::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 50%;
  border-bottom: oklch(68.1% 0.162 75.834) 3px solid;
}
